<p class="right">
	<%= link_to 'New Trademark', new_trademark_path %>
</p>

<h2>Trademarks</h2>

<table>
  <tr>
    <th>Term</th>
    <th>Complete</th>
  </tr>

<% @trademarks.each do |trademark| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= link_to trademark.term, trademark %></td>
    <td style="text-transform:uppercase; font-size:12px;"><%=h trademark.complete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @trademarks %>
<br />
