<p class="right">
	<%= link_to 'New Trademark', new_trademark_path %>
</p>

<h2>Trademarks</h2>
<%= link_to "Export to Excel", :action => :index, :format => :csv %>

<table>
  <tr>
    <th>Term</th>
    <th>Actions</th>
    <th>Complete</th>
  </tr>

<% @trademarks.each do |trademark| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= link_to trademark.term, trademark %></td>
    <td><%= link_to "Edit", edit_trademark_path(trademark) %></td>
    <td style="text-transform:uppercase; font-size:12px;">
	  <% if trademark.complete %>
 	    <%= image_tag 'accept.png' %>
	  <% else %>
	    <%= image_tag 'cross.png' %>
	  <% end %>
	</td>
  </tr>
<% end %>
</table>
<%= will_paginate @trademarks %>
<br />
