<h1>New trademark</h1>

<% form_for(@trademark) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :term %><br />
    <%= f.text_field :term %>
  </p>
  <p>
    <%= f.label :complete %><br />
    <%= f.check_box :complete %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', trademarks_path %>