<h1>New Trademark</h1>

<p><%= link_to '&laquo; Back to Trademarks', trademarks_path %></p>

<% form_for(@trademark) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :term %><br />
    <%= f.text_field :term %>
  </p>
  <p>
    <%= f.label :complete %><br />
    <%= f.check_box :complete %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>