<p>
  <b>Term:</b>
  <%=h @trademark.term %>
</p>

<p>
  <b>Complete:</b>
  <%=h @trademark.complete %>
</p>

<%= render :partial => 'google' %>
<%= render :partial => 'yahoo' %>
<%= render :partial => 'bing' %>

<%= link_to 'Edit', edit_trademark_path(@trademark) %> |
<%= link_to 'Back', trademarks_path %>