<% if params[:webpage] %>
  <%= @trademark.google_search_page if params[:webpage] == 'google'%>
  <%= @trademark.yahoo_search_page if params[:webpage] == 'yahoo'%>
  <%= @trademark.bing_search_page if params[:webpage] == 'bing'%>

<% else %>

<h2><%=h @trademark.term %></h2>

<p><%= link_to 'Edit Trademark', edit_trademark_path(@trademark) %></p><br />
<p><%= link_to '&laquo; Back to Trademarks', trademarks_path %></p>

<%= render :partial => 'google' %>
<%= render :partial => 'yahoo' %>
<%= render :partial => 'bing' %>

<% end %>