<h2><%=h @trademark.term %></h2>

<p><%= link_to 'Edit Trademark', edit_trademark_path(@trademark) %></p><br />
<p><%= link_to '&laquo; Back to Trademarks', trademarks_path %></p>

<%= render :partial => 'google' %>
<%= render :partial => 'yahoo' %>
<%= render :partial => 'bing' %>

